/* body*/

body.body {
    background: #CEFFCE;
    font-family: 標楷體;
}


/* t1項目字體*/

p.t1 {
    font-size: 18;
    color: blue;
    font-family: 標楷體;
    text-align: center;
    font-weight: bold;
}


/*t1項目表格底色*/

td.td1 {
    height: 40px;
    background: #CECEFF;
    border-radius: 25px;
    /*弧度*/
}


/* 內容字體(偏左)*/

p.c1 {
    font-size: 18;
    color: block;
    font-family: 標楷體;
    text-align: left;
}


/* 內容字體(置中)*/

p.c2 {
    font-size: 18;
    color: block;
    font-family: 標楷體;
    text-align: center;
}
