/*A*/
<<<<<<< HEAD

=======
>>>>>>> origin/master
.list {
    position: fixed;
}

ul li
/*原始主選單*/

{
    float: left;
    display: block;
    background-color: #262626;
<<<<<<< HEAD
    width: 150px;
    text-align: center;
    line-height: 50px;
    font-size: 14pt;
    color: #9d9d9d;
=======
    /*#9A5927*/
    width: 150px;
    text-align: center;
    line-height: 50px;
    /*行高*/
    font-size: 14pt;
    /*字體大小*/
>>>>>>> origin/master
}

ul li a
/*原始主選單-超連結顏色*/

{
<<<<<<< HEAD
    color: #9d9d9d;
    /*有無底線*/
    text-decoration: none;
}

a:hover {
    color: white;
=======
    color: #F9F59A;
    /*有無底線*/
    text-transform: none;
}

ul li ul {
    display: none;
>>>>>>> origin/master
}


/*子選單隱藏*/

ul li:hover ul {
    display: block;
    /*選單選項被滑鼠指到（hover）時，子選單就以區塊狀顯示（display:block）*/
}

ul li:hover {
<<<<<<< HEAD
    background-color: block;
    color: white;
    /*選單選項被指到時，背景顏⾊色換成＃ba7947*/
}

.up {
    margin: 40px;
    float: center;
}


/*B*/

.frame {
    margin: 20px;
    float: center;
    background-color: #eeeeee;
    padding: 70px;
    /*框線與網頁編距離*/
}

.btn {
    background-color: #337ab7;
    border-radius: 7px;
    font-weight: normal;
    padding: 10px;
    font-size: 14px;
    color: white;
}

.btn2 {
    background-color: white;
    border-radius: 7px;
    font-weight: normal;
    padding: 10px;
    font-size: 14px;
    color: #333333;
}
=======
    background-color: #ba7947;
    /*選單選項被指到時，背景顏⾊色換成＃ba7947*/
}

ul li ul li:hover {
    background-color: #f9f59a;
    /*選單項⽬下面的⼦選單項⽬被指到時，背景顏⾊色換成＃f9f59a*/
}

ul li ul li:hover a {
    color: #9a5927;
    /*選單項⽬目下⾯的子選單項⽬被指到時，超連結字體顏⾊色變成#9a5927*/
}

/*B*/
.frame {
     background-color: white;
     padding: 50;
     /*框大小*/
     border: solid 5px;
     margin: 50;
     /*框線與網頁編距離*/
 }
>>>>>>> origin/master


/*C*/

.tright {
<<<<<<< HEAD
    margin-left: 2%;
    margin-right: 2%;
    float: left;
    border-color: #9d9d9d;
    border-style: solid;
    padding: 5px;
    margin: 20px;
    width: 250px;
    background-color: white;
}

.table {
    margin-left: 3%;
    margin-right: 2%;
    float: left;
    padding: 5px;
    margin: 20px;
    width: 250px;
    background-color: white;
=======
    margin-left: 3%;
    margin-right: 2%;
    float: left;
    width: 250px;
    background-color: #FFF0AC;
>>>>>>> origin/master
}

img {
    /*圖片置中*/
    display: block;
    margin: auto;
}

<<<<<<< HEAD
p.b-1 {
    color: block;
    font-size: 63px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    line-height: 69px;
    text-align: left;
}

p.b-2 {
    color: block;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    line-height: 30px;
    text-align: left;
}

p.c-1 {
    color: block;
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    line-height: 50px;
    text-align: left;
    text-indent: 1em;
=======
p.c-1 {
    color: blue;
    font-size: 20px;
    font-family: 標楷體;
    text-align: left;
>>>>>>> origin/master
}

p.c-2 {
    color: block;
<<<<<<< HEAD
    font-size: 25px;
    font-family: Helvetica, Arial, sans-serif;
    color: #333333;
    line-height: 50px;
=======
    font-size: 20px;
    font-family: 標楷體;
>>>>>>> origin/master
    text-align: center;
}

p.c-3 {
    font-size: 14px;
<<<<<<< HEAD
    color: #333333;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
=======
    font-family: 標楷體;
>>>>>>> origin/master
    text-align: center;
}

p.c-4 {
    font-size: 14px;
<<<<<<< HEAD
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}
=======
    font-family: 標楷體;
    text-align: left;
}
>>>>>>> origin/master
